<% if @name.nil? %>
  <form action="/named_cat" method="get">
    <div>
      <input type="text" name="name"/>
      <input type="submit" value="Submit"/>
    </div>
  </form>
<% end %>


<h1>My name is <%= @name %> </h1>

<div style="border:medium dashed red">
  <iframe src="//giphy.com/embed/kKdgdeuO2M08M" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/kKdgdeuO2M08M">
</div>
